body {
    background-color: rgba(0, 0, 0, 0.1);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #007bff;
    font-family: 'Exo 2', sans-serif;
    padding: 1em 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

select {
    background-color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-left: 0.5em;
    border: 2px solid;
    border-color: #007bff;
    color: #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    color: white;
    font-size: 1.5em;
    font-family: 'Premier League', sans-serif;

}
#sortButton{
    position: absolute;
    right: 6em;
    background-color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-left: 0.5em;
    border: 2px solid;
    border-color: #007bff;
    color: #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    top: 0.8em;
    
   
}

#svg-container {
    border: 2px solid;
    border-color: #007bff;
    border-radius: 10px;
    margin-top: 4em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#svg-container2 {
    border: 2px solid;
    border-color: #007bff;
    border-radius: 10px;
    margin-top: 4em;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}

#barChart {
    margin-top: 20px;
    margin-bottom: 50px;
}

.bar:hover {
    fill: #007bff;
}


.axis {
    font-size: 1em;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: white;
    color: black;
    border-radius: 10px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    border: 2px solid #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#chartTitle {
    text-anchor: middle;
    font-size: 18px;
    fill: black;
}

#stadiumInfo {
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid #007bff;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    color: #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}
#submitYear{
   position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-left: 0.5em;
    margin-right:0.5em;
    border: 2px solid;
    border-color: #007bff;
    color: #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    top: 5em;
}
#yearInput{
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 1em;
    margin-left: 0.5em;
    border: 2px solid;
    border-color: #007bff;
    color: #007bff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    top: 5em;
}